#app {
	color: white;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 50px;
	width: fit-content;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
